$('#<%= @user.id.to_s %>').slideUp(250);
if( $('#user-name').length == 0  ) {
  $('#<%= @user.id.to_s %>').after('<div class="well"><%= escape_javascript render( "users/short_header", user: @user) %></div>');
  $('#personal_information').parent().removeClass( 'active');
}

$('#authentication_providers').parent().removeClass( 'active');
$('#personal_information').parent().addClass('active');
$('#profile_section').html("<%= escape_javascript(render @user.profile||@user.build_profile, user: @user ) -%>");

