= link_to( t(:number_of_comments, count: commentable.comments.count), |
  commentable_comments_path(commentable)+"#new-comment-form",         |
  :"data-commentable-type" => class_to_param(commentable),            |
  :"data-commentable-id"  => commentable.id.to_s,                     |
  :class => 'comment-preview-link',                                   |
  :id => "comments-for-#{class_to_param(commentable)}-#{ commentable.to_param }-link", |
  remote: true                                                        |
)                                                                     |
