.comment-preview
  %i.icon-comment.icon-white
  &nbsp;
  = render "comments/comments_link", commentable: commentable
%div{id: "comments-for-#{class_to_param(commentable)}-#{commentable.id.to_s}"}
= render "comments/comments_close_button"