- unless comment.new_record?
  .comment{id: "comment-#{comment.to_param}-for-#{comment.commentable.to_param}"}
    - present comment do |presenter|

      - if comment.allow_delete?(current_user)
        .comment-delete-button.pull-right
          %br/
          =button_link_to 'icon-edit', 'btn btn-primary btn-mini', t(:edit_comment), edit_commentable_comment_path(comment.commentable,comment)
          =button_link_to 'icon-trash', 'btn btn-danger btn-mini', t(:delete_comment), commentable_comment_delete_path(comment), method: :delete, confirm: t(:are_you_sure)
      
      %span.comment-user
        %strong>=presenter.posted_by
        ,
      %span.comment-timestamp=presenter.timestamp
      .comment-body= presenter.body