- unless @users.any?
  .alert.alert-error= t(:no_user_found_for, search: @search.search_text)
- else
  .each_user_show
    - @users.each do |user|
      = render 'user', :user => user
    = render :partial => '/shared/load_more', :locals => { :resources => @users, :path => users_path }

  = page_navigation_links( @users, 'pagination', '&#8592; Previous', 'Next &#8594;' )
