%ul{:class => "nav nav-tabs"}
  %li{class: "#{params[:controller]=='users' ? 'active' : ''}"}= link_to t(:authentication_providers), auth_providers_user_path(user), id: 'authentication_providers', remote: true, "data-user-id" => user.id.to_s
  %li{class: "#{params[:controller]=='profiles' ? 'active' : ''}"}= link_to t(:personal_information), user_profile_path(user), id: 'personal_information', remote: true, "data-user-id" => user.id.to_s
  %li{class: "#{params[:controller]=='avatars' ? 'active' : ''}"}
    = link_to( t(:avatar),user_avatar_path(user), remote: true)
