$('#<%= @user.id.to_s %>').slideUp(250);
if( $('#user-name').length == 0  ) {
  $('#<%= @user.id.to_s %>').after('<div class="well"><%= escape_javascript render( "users/short_header", user: @user) %></div>');
}

$('#authentication_providers').parent().addClass('active');
$('#profile_section').html('<%= j(render "auth_providers", user: @user) -%>');
