= render 'shared/search'
%h1= title t(:listing_users)

.container
  #result
    - unless @users.any?
      .alert.alert-error= t(:no_user_found_for, search: @search.search_text)
    - else
      .each_user_show
        - @users.each do |user|
          = render 'user', :user => user
