%h1= title t(:listing_users)
%br/
= render 'shared/search'
%hr/
.container
  #result
    - unless @users.any?
      .alert.alert-error= t(:no_user_found_for, search: @search.search_text)
    - else
      - @users.each do |user|
        = render 'user', :user => user
    
    
    
  
