$('#authentication_providers').parent().removeClass( 'active');
$('#personal_information').parent().addClass('active');
$('#profile_section').html("<%= escape_javascript %{
  <div class='alert alert-message'>
    #{close_icon}
    <h3>Function not implemented</h3>
  
    <p>No personal information stored yet.</p>
    <p>
      This is the place where phone-numbers, pictures, and other stuff will be displayed
      in further versions.
    </p>
  </div>
}.html_safe -%>");
