- content_for :top_menu do
  %br/
  = render 'shared/user'
    
= render 'user', :user => @user

.clear-both

#user-menu.row-fluid
  .each_user_show
    = render 'user_menu', user: @user

.row-fluid
  #profile-section.span12
    = render 'auth_providers', user: @user