%li{class: active == 'sections' ? 'active':''}= icon_link_to "icon-th icon-white"  ,"", t(:sections), sections_path
%li{class: active == 'pages'    ? 'active':''}= icon_link_to "icon-list icon-white","", t(:pages), pages_path
%li{class: active == 'users'    ? 'active':''}= icon_link_to "icon-user icon-white","", t(:listing_users), users_path