.row
  - Section.all.each do |section|
    - _range = can_read?('Admin', 'Maintainer') ? section.pages : section.pages.online
    -if _range.any?
      .span2
        %h1=section.title
        %ul
          - _range.each do |page|
            %li=link_to page.title, page
      