.row-fluid
  - Section.footer_sections.each do |section|
    - _range = can_read?('Admin', 'Maintainer') ? section.pages : section.pages.online
    -if _range.any?
      .span2
        %h1=link_to section.title, section
        - _range.each do |page|
          %p=link_to page.title, page
      