- title t(:welcome)

.row-fluid
  .hero-unit
    .row-fluid
      - if @hero
        = markdown( @hero.body )
      - else
        .alert.alert-error
          %i.icon-warning-sign
          %h1
            Please create a page titled 'hero' which will be displayed here.

- @features.to_a.in_groups_of(2) do |row|
  .row-fluid
    .span6
      = render row[0] if row[0]
    .span6
      = render row[1] if row[1]

