%br/

- if current_user.try(:can_read?, 'Admin','Author' )
  .pull-right
    .btn-toolbar
      .btn-group
        .btn= icon_link_to 'icon-indent-left', '', t(:sort_sections), sort_sections_path
        .btn.btn-success= icon_link_to 'icon-plus-sign icon-white', '', t(:create_section), new_section_path
        

%h1= title t(:sections)

%hr/
%br/

=render @sections

