= link_to image_tag(banner.banner.url(:large)), banner.page
%div{class: "carousel-caption layout-#{banner.page.banner_text_position || 'right'}"}
  - if banner.linked_url != '#'
    %h2.white-link=link_to banner.page.banner_title||banner.page.title, banner.linked_url, target: :blank
  - else
    %h2.white-link=banner.page.banner_title||banner.page.title
  %p=(banner.page.banner_text||'').html_safe

