- root_version = @page||page
- if root_version.banner.banner.try(:path) && File.exists?(root_version.banner.banner.path)
  - _deprecated_class = root_version.banner.banner.try(:path) != page.banner.banner.try(:path) ? 'deprecated-image' : ''
  - unless _deprecated_class.blank?
    .alert.alert-error
      %strong=t(:pictures_not_versionized)
  - _version = params[:version].present? && can_read?('Admin', 'Maintainer') ? {version: params[:version] } : {}
  = link_to( image_tag(root_version.banner.banner.url(:large)), page_path(page._id,_version), class: _deprecated_class)
  %div{class: "carousel-caption layout-#{page.banner_text_position || 'right'}"}
    - if page.banner.linked_url != '#'
      %h2.white-link=link_to page.banner_title||page.title, page.banner.linked_url, target: :blank
    - else
      %h2.white-link=page.banner_title||page.title
    %p=(page.banner_text||'').html_safe

