- if page.title
  - _preview = truncate(page.body,length: page.preview_length_or_default, omission: "... ")
  - _link = icon_link_to( "icon-eye-open", "btn", t(:read_more), page)
  - truncated = _preview.length < page.body.length
    
  
  %div{:style=> params[:controller]=='home' ? 'min-height: 200px;' : ''}
    = render 'pages/page_menu', page: page
    - if truncated && Settings.supress_page_title != true
      %h2= link_to page.title, page
    - elsif Settings.supress_page_title != true
      %h2=page.title
    %article
      - present page do |presenter|
        = presenter.body_snippet _preview
      - if truncated
        = _link
    .clear-both