=icon_link_to 'icon-chevron-right', '',  t(:section_and_banner), '#', id: 'toggle-section-banner'
%br/
#section-and-banner
  =f.input :section_id, :collection => Section.all, prompt: t(:select_section), include_blank: t(:no_section)
  =f.input :banner_title, input_html: {:style => "width: 100%" }
  =f.input :banner_text, :as => :ckeditor, input_html: {:style => "width: 100%", rows: 5 }
  =f.input :banner_text_position, :collection => ['left', 'right']
  .well
    =f.simple_fields_for page.banner||page.build_banner do |fb|
      .attachment-single-upload
        = render 'shared/single_upload', model_id: "page_banner_banner", field_name: "page[banner][banner]", existing_file_preview: page.banner.banner_file_name.nil? ? "" : page.banner.banner.url(:preview), use_multiple: false, field_label: t(:upload_a_banner), hint: 'png, jpg, gif'
      - if page.banner && page.banner.banner.exists?
        .pull-right
          =f.input :delete_banner, as: :boolean, label: false, hint: ("&nbsp;".html_safe+t(:check_to_remove_the_image_from_the_server))
      =fb.input :linked_url, as: :url
