%ul.nav.nav-tabs.subnav
  %li= link_to section.title+" : ", section.pages.first, class: 'bold', disabled: true
  - section.pages.only(:title).each do |page|
    %li{class: page == @page ? 'active' : ''}=link_to page.title, page
