if ($('#result').length > 0) {
  var _target = '#result'
} else {
  var _target = '.container.main'
}

$(_target).html('<BR/><span class="pull-right"><%= icon_link_to "icon-home", "", t(:home), root_path -%></span><h3 id="search-header"><%= t(:search_results, count: @pages.count) -%>...</h3><br/><br/><%= escape_javascript( 
    if @pages.any?
      render( @pages )
    else
      content_tag :div, :class => "alert alert-error" do
        t(:no_page_found_for, :search => params[:search]["search_text"])
      end
    end
) -%>');