- begin
  - events.map{|e| e}.reverse.each_with_index do |_event, idx|
    - unless _event.new_record?
      = render 'timelines/event', event: _event, index: idx
- rescue => e
  = t(:not_available) + " => #{e.inspect}"