- present( event, TimelineEventPresenter ) do |presenter|
  %div{ class: presenter.css_class_definition}
    = presenter.avatar
    .text= presenter.body
    - timelines.each do |_name|
      .pull-right.timeline-name=_name
    .clear-both