- present( event, TimelineEventPresenter ) do |presenter|
  %div{ class: presenter.css_class_definition}
    = presenter.avatar
    .pull-right
      - timelines.each do |_name|
        .timeline-name=_name
    .clear-right
    .text= presenter.body
    .clear-both