- present( event, TimelineEventPresenter ) do |presenter|
  %div{ class: presenter.css_class_definition}
    .pull-right.timeline-name= presenter.timeline_name
    = presenter.avatar
    .text= presenter.body
    .clear-both