#post-message-form
  =simple_form_for [Doorkeeper::timeline,Doorkeeper::timeline.timeline_events.new()] , remote: true do |f|
    - f.simple_fields_for :timeline_event do |e|
      #input-text= e.input :message, as: :string, label: false, placeholder: t(:post_your_message_here), input_html: { maxlength: 140 }
      -if Rails.env.test?
        = f.submit 'Post'