%h2=t(:subscriptions)

.alert.alert-info
  %strong The subscription-feature is not implemented yet.
  %br/
  In this box a user will be able to subscribe and unsubscribe
  from available Timelines. A subscription can notify a user
  'on-screen' and/or by email.
  The feature will be implemented within 1~2 weeks.
  %br/
  %p
    %br/
    %em August 12, 2012, development@wwedu.com