%br/
%h1=t(:timeline)

.row-fluid
  .span8
    #post-message-form
      = render 'post_message'
    #events
      = render 'events', events: @events
  .span4
    .well
      = render 'timeline_subscriptions', timelines: @timelines