/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$content-width: 900px;

nav {
  height: 30px;
  background: #111;
}

header {
  margin-bottom: 50px;
}

header nav ul {
  list-style: none;
  margin: 0px;
  color: #ddd;
  padding: 5px;
  padding-left: 5px;
  padding-right: 10px;
  text-shadow: 0.05em 0.05em #888;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: yellow;
    }
  }
}
header nav ul li {
  display: inline;
  padding-left: 5px;
}

nav .mmenu {
  text-align: left;
  float: left;
}

nav .hmenu {
  text-align: right;
  float: right;
}

nav #content-menu {
  height: 30px;
  clear: both;
  padding: 0px;
  background: #ddd;
  ul {
    a {
      color: #666;
      &:hover {
        color: black;
      }
    }
  }
}

#flash_notice, #flash_alert {
  width: 100%;
  padding: 5px 8px;
}
#flash_notice {
  background-color: #CFC;
  border-bottom: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border-bottom: solid 1px #DAA;
}

.clear-both {
  clear: both;
}

.clear-header {
  clear: both;
  margin-top: 50px;
}

#container {
  #main {
    padding: 10px;
    width: $content-width;
    margin-left: auto;
    margin-right: auto;

    h1 {
      color: #333;
      text-shadow: 0.05em 0.05em #ddd;
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  background: #333;
  color: #aaa;
  border-top: 1px solid #ddd;
  padding-top: 5px;
  bottom: 0px;
  clear: both;
  margin-top: 10px;
  font-size: 0.5em;
  text-align: center;
}


.field {
  margin-top: 10px;
}

.actions {
  margin-top: 10px;
}