.timeline-event {
  padding: 10px;
  border-radius: 1em 1em 1em 1em;
  background: #B4C5D0;
  margin-bottom: 3px;
  margin-top: 2px;
  padding-left: 5px;
  line-height: 15px;
}

#events {
  display: block;
  overflow-y: scroll;
  .timeline-event {
    img {
      float: left;
      border-radius: 1em 4px 4px 4px;
      margin-left: 0px;
      margin-right: 10px;
      padding-left: 0px;
      box-shadow: 1px 1px 2px #000;
    }
  }
}

#timeline {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 250px;
  max-width: 250px;
  height: 25px;
  max-height: 300px;
  background-color: #282828;
  color: #EDEDED;
  padding: 0px;
  opacity: 0.95;
  z-index: 10;
  border-radius: 1em 0em 0em 0em;

  #post-message-form {
    position: fixed;
    bottom: 242px;
    right: 0px;
    opacity: 0.9;
    width: 247px;
    overflow: hidden;
    margin: 0px;
    padding-top: 5px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    input {
      margin-left: 7px;
      margin-right: 0px;
      width: 228px;
      max-width: 228px;
      border-radius: 0.5em;
    }
  }

  #input-text {
    display: none;
    z-index: 13;
  }


  .toggle-timeline {
    position: relative 0 0;
    margin: 0px;
    padding-top: 5px;
    padding-left: 15px;
    width: auto;
    display: block-inline;
    border-radius: 1em 0em 0em 0em;
    background-color: #171717;
    z-index: 12;
    color: white;
    a {
      text-decoration: none;
      color: #ddd;
    }

    .timeline-toggle {
      float: right;
      margin-right: 15px;
    }
  }

  .timeline-avatar {
    float: left;
    img {
      border-radius: 1em 4px 4px 4px;
      margin-left: 0px;
      padding-left: 0px;
      box-shadow: 1px 1px 2px #000;
    }
  }


  #events {
    margin-top: 30px;
    padding-left: 0px;
    margin-right: 8px;
    margin-bottom: 20px;
    height: 240px;
    overflow-x: hidden;
    .bubble {
      padding-left: 5px;
      margin-left: 0px;
      z-index: 11;
      color: black;
      border-radius: 0.25em 0.25em 0.25em 0.25em;
      line-height: 0.5em;
    }
    .text {
    }
  }
}

.post-message-http-view {
  padding: 20px;
}

.timeline-name {
  display: inline;
  font-size: 0.8em;
  margin: 0px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.5em;
  text-shadow: 1px 1px 1px #485158;
  background-color: #b5cbd9;
  color: #2f3438;
  box-shadow: 1px 1px 1px #8897a3;
  opacity: 0.7;
}

.timestamp-timeline {
  display: inline;
  font-size: 0.75em;
  font-style: italic;
  line-height: 90%;
}

.timeline-username {
  display: inline;
  font-size: 0.7em;
  font-style: italic;
  line-height: 100%;
}

.timeline-message {
  font-size: 0.9em;
  line-height: 150%;
  display: block;
}

#events {

}

#events .timeline-message {
  margin-left: 40px;
}

ul#events {
  list-style-type: none;
}

.new-entry {
  display: none;
}

#timeline {
  ul#events {
    display: block;
    z-index: 9900;
    height: 235px;
    min-height: 235px;
    max-height: 235px;
    overflow: scroll-y;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
    li {
      color: #444;
    }
  }
}