/* Example tokeninput style #3: WAT Style */
fieldset.token-input-wat {
  position: relative;
  padding: 0;
  margin: 5px 0;
  background: #fff;
  width: 400px;
  border: 1px solid #A4BDEC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

fieldset.token-input-wat.token-input-dropdown-wat {
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
}

ul.token-input-list-wat {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 3px;
    background: transparent;
}

ul.token-input-list-wat.error {
  border: 1px solid #C52020;
}

ul.token-input-list-wat li {
    list-style-type: none;
}

li.token-input-token-wat p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-wat span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* TOKENS */

li.token-input-token-wat {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 9pt;
    line-height: 12pt;
    overflow: hidden; 
    height: 16px; 
    margin: 3px;
    padding: 0 10px;   
    background: none; 
    background-color: #dee7f8;
    color: #000;
    cursor: default;
    border: 1px solid #a4bdec;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
}

li.token-input-highlighted-token-wat {
    background-color: #bbcef1;
    border: 1px solid #598bec;
    color: #000;
}

li.token-input-selected-token-wat {
    background-color: #598bec;
    border: 1px solid transparent;
    color: #fff;
}

li.token-input-highlighted-token-wat span.token-input-delete-token-wat {
    color: #000;
}

li.token-input-selected-token-wat span.token-input-delete-token-wat {
    color: #fff;
}

li.token-input-input-token-wat {
    width: 200px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #2d475a;
    background-color: #6a97b5;
    color: white;
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-input-token-wat input {
  background-color: #6a97b5;
  color: white;
  height: 18px; 
  border-radius: 15px 15px 15px 15px;
  border: none;
  width: 100px;
  padding: 4px 9px;
  margin: 0;
}

/*do not combine the following 2, it doesn't work!*/
input::-webkit-input-placeholder {
  color:white;
}
input:-moz-placeholder {
  color:white;
}

div.token-input-dropdown-wat {
    position: absolute;
    border: 1px solid #A4BDEC;
    border-top: none;
    left: -1px;
    right: -1px;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    font-size: 10pt;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    clip:rect(0px, 1000px, 1000px, -10px);
}

div.token-input-dropdown-wat p {
    font-size: 8pt;
    margin: 0;
    padding: 0 5px;
    font-style: italic;
    color: #aaa;
}

div.token-input-dropdown-wat h3.token-input-dropdown-category-wat {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  border: none;
  padding: 0 5px;
  margin: 0;
}

div.token-input-dropdown-wat ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-wat ul li {
    list-style-type: none;
    cursor: pointer;
    background: none;
    background-color: #fff;
    margin: 0;
    padding: 0 0 0 25px;
}

div.token-input-dropdown-wat ul li.token-input-dropdown-item-wat {
    background-color: #fff;
}

div.token-input-dropdown-wat ul li.token-input-dropdown-item-wat.odd {
    background-color: #ECF4F9;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.token-input-dropdown-wat ul li.token-input-dropdown-item-wat span.token-input-dropdown-item-description-wat {
    float: right;
    font-size: 8pt;
    font-style: italic;
    padding: 0 10px 0 0;
    color: #999;
}

div.token-input-dropdown-wat ul li strong {
    font-weight: bold;
    text-decoration: underline;
    font-style: none;
}

div.token-input-dropdown-wat ul li.token-input-selected-dropdown-item-wat,
div.token-input-dropdown-wat ul li.token-input-selected-dropdown-item-wat.odd {
    background-color: #598bec;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.token-input-dropdown-wat ul li.token-input-selected-dropdown-item-wat span.token-input-dropdown-item-description-wat,
div.token-input-dropdown-wat ul li.token-input-selected-dropdown-item-wat.odd span.token-input-dropdown-item-description-wat {
    color: #fff;
}
