html {
  background: #444;
}

.inline {
  display: inline;
}

footer {
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-left: auto;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #444;
  color: white;
  a {
    color: white;
    &:hover {
      color: yellow;
    }
  }
}

textarea {
  font-family: Courier new, monospaced;
  overflow: scroll;

}

.hr {
  border-top: 1px solid #444;
  height: 2px;
}

.clear-both {
  clear: both;
}

.btn {
  a {
    text-decoration: none;
  }
}