footer {
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-left: auto;
  margin-top: 150px;
  background: #ddd;
}

textarea {
  font-family: Courier new, monospaced;
  overflow: scroll;

}