footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  
}

textarea {
  font-family: Courier new, monospaced;
  overflow: scroll;

}